html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}




body {
    font-family: 'Roboto', sans-serif;
    background-color: $body-color;
    color: $title-text-color;
    font-size: 14px;

}

.hidden {
    visibility: hidden;
    overflow: hidden;
    height: 0;
    margin: 0;
}

.reset-list {
    margin: 0;
    padding: 0;
}

.reset-list li {
    list-style: none;
}

.interest,
.section-paddings {
    @include for-mobile-and-tablet {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    @include for-desktop {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

html,
body {
    min-width: 320px;
}

.container {
    box-sizing: border-box;
    width: 100%;
    padding: 0 15px;




    @include for-desktop {
        width: 1200px;
        margin: 0 auto;
    }
}



ul {
    margin: 0;
    list-style: none;
}

img {
    display: block;
}